# Compiled class file
*.class

*.mpf
*.mti
*.wlf
*.bak

transcript

work/

### VS Code ###
.vscode/
transcript
work/_info

## Test do file
test.do
*.tmp
~$cumentation 2.docx
transcript
*.mti
*.mpf
transcript
work/_info
*.wlf
*.vstf
*.mti
*.mpf
*.bkp
